*{

}
.container{
    display: flex;
    flex-direction: column;
    
    width: auto;
    height:80vh;
    align-items: center;

    background-color:gainsboro;
}       
input{
    height: 5vh;
    font-size: 20px;
    width: 350px;
    background-color: cornflowerblue;
    border-radius: 10px;
}
button{
    margin-top: 1%;
    height: 6%;
    background-color: palegreen;
    width: 8%;
    font-size: 15px;
}
label{
    font-size: 20px;
}
table{
    margin-top: 3%;
    width: 550px;
    /* border-spacing: 15px; */
     border-collapse: collapse; 
}
td{
    border: 1px solid red;
    width: 30px;
    height: 5vh;
    text-align: center;
   
}